.header {
    background-color: $dark-blue;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;
        max-width: 1440px;

        .logo {
            display: block;
            width: 7rem;
            height: 2.1rem;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    
        #navbar {
            .links {
                display: flex;
                gap: 1.2rem;
    
                .link-item {
                    cursor: pointer;
                    transition: text-decoration 0.3s linear;
    
                    a {
                        font: 400 1rem $font-primary;
                        color: $white-saturate;
                        transition: color 0.3s ease-in-out;

                        &:hover {
                            color: $white;
                        }
                    }
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


// min-width: 1024px
@media (min-width: 64rem) {
    .header {
        .container {
            padding: 5rem 6rem;

            .logo {
                width: 12.6rem;
                height: 3.7rem;
            }

            #navbar {
                .links {
                    gap: 4rem;

                    li > a {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}